{% extends "shop/base.html" %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
  <h1>Iniciar sesión</h1>
  {% if form.errors %}
    <p>
      Tu nombre de usuario y contraseña no coinciden.
      Por favor, inténtalo de nuevo.
    </p>
  {% else %}
    <p>Por favor, utiliza el siguiente formulario para iniciar sesión:
        Si no tienes una cuenta, <a href="{% url 'account:register' %}">regístrate aquí</a>.
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Iniciar sesión"></p>
    </form>
    
  </div>
{% endblock %}
