{% extends "shop/base.html" %}
{% block title %}
  Introducción sus datos
{% endblock %}


{% block content %}

  <h1> Introduce tus datos </h1>

  <div class="order-info">
    <h3> Tu pedido </h3>

    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }}x {{ item.product.nombre }}
          <span>${{ item.total_price }}</span>
        </li>
      {% endfor %}

      <li>
        {% if cart.get_total_price > 50 %}
        <div class="shipping-cost">
          Gastos de envío: <span>$ 0 </span>
        </div>
      {% else %}
        <div class="shipping-cost">
          Gastos de envío: <span>$ 7</span>
        </div>
      {% endif %}
      </li>     

    </ul>

    <p>Total: ${{ cart.get_total_price }}</p>
  </div>

  <form method="post" class="order-form">
    {{ form.as_p }}

    <p style="display: inline-block; margin-right: 10px;">
      <input type="submit"  value="Pagar ahora"  style="width: 155px;">
    </p>
    <p style="display: inline-block;">
      <input type="submit"  value="Pagar al recibir"  style="width: 155px;">
    </p>
    
    {% csrf_token %}
  </form>
  

{% endblock %}