{% extends "shop/base.html" %}
{% block title %}Pedido completado.{% endblock %}
{% block content %}
  <h1>Pedido completado</h1>
  <p>Su pedido ha sido completado con éxito para su pago en persona.</p>
  <p>Los detalles sobre el pedido se han enviado a: <strong>{{ order.email }}</strong></p>
  <p>Puede seguir el pedido con el código: <strong>{{ order.codigo }}</strong></p>

  <div>
    <a href="/" class="btn btn-primary">Volver a la página de inicio</a>
    <a href="/" class="btn btn-secondary">Mis pedidos</a>
  </div>
{% endblock %}