{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.nombre }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.imagen %} {{ product.imagen.url }} {% else %} {% static "img/no_image.png" %}{% endif %}">
    <h1>{{ product.nombre }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.categoria }}
      </a>
    </h2>
    <p class="price">
      {% if not product.disponible %}
          <span style="text-decoration: line-through; color: gray;">${{ product.precio }}</span>
          <span style="color: red; font-weight: bold;">Agotado</span>
        {% else %}
          ${{ product.precio }}
        {% endif %}
    </p>
    
    <form action="{% url "cart:cart_add" product.id %}" method="post">
      {% if product.disponible %}
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="Añadir a la cesta">
      {% endif %}
    </form>
    {{ product.descripcion|linebreaks }}
  </div>
{% endblock %}