{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {{ product.nombre }}
{% endblock %}

{% block content %}
  <div class="product-detail">
    <img src="{% if product.imagen %} {{ product.imagen.url }} {% else %} {% static "img/no_image.png" %}{% endif %}">
    <h1>{{ product.nombre }}</h1>
    <h2>
      <a href="{{ product.category.get_absolute_url }}">
        {{ product.categoria }}
      </a>
    </h2>
    <p class="price">${{ product.price }}</p>
    <form action="{% url "cart:cart_add" product.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="Add to cart">
    </form>
    {{ product.description|linebreaks }}
  </div>
{% endblock %}