{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.nombre }}{% else %} Productos {% endif %}
{% endblock %}

{% block content %}

  <div class="banner">
    <img src="{% static 'img/banner.jpg' %}" alt="La Super Tienda Esotérica" class="banner-img">
  </div>

  <div id="main" class="product-list">
    <h1> {% if category %} {{ category.nombre }} {% else %} Productos {% endif %} </h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.imagen %} {{ product.imagen.url }} {% else %} {% static "img/no_image.png" %} {% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.nombre }}</a>
        <br>
        {% if not product.disponible %}
          <span style="text-decoration: line-through; color: gray;">${{ product.precio }}</span>
          <span style="color: red; font-weight: bold;">Agotado</span>
        {% else %}
          ${{ product.precio }}
        {% endif %}
      </div>
    {% endfor %}
  </div>

          <!-- Formulario para seguir el pedido -->
          <h2>¿Tienes un código de pedido?</h2>
          <p>Introduce tu código de pedido para ver los detalles del mismo:</p>
          
          <form method="GET" action="{% url 'orders:buscar_pedido' %}">
            <label for="codigo">Código de pedido (20 caracteres):</label>
            <input type="text" id="codigo" name="codigo" maxlength="20" required pattern="[A-Za-z0-9]{20}" placeholder="Código de 20 caracteres" title="El código debe ser de 20 caracteres alfanuméricos">
            <button type="submit">Seguir aquí</button>
          </form>          
  
          <!-- Mostrar mensaje de error si el código no es válido -->
          {% if mensaje_error %}
            <div class="error-message" style="color: red; font-weight: bold;">
              {{ mensaje_error }}
            </div>
          {% endif %}
  
{% endblock %}