{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.nombre }}{% else %} Productos {% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h3>Buscar productos</h3>
    <form method="get" action="{% url 'shop:search' %}" class="search-container">
        {% csrf_token %}
        <input type="text" name="query" id="id_query" value="{{ query }}" placeholder="Buscar productos...">
        <div style="width: 10px;"></div>
        <input type="submit" value="Buscar">
    </form>
    
    <h3>Categorías</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url "shop:product_list" %}"> Todo </a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.nombre }}</a>
        </li>
      {% endfor %}
    </ul>

    <!-- Formulario de búsqueda -->
    
  </div>

  <div id="main" class="product-list">
    <h1> {% if category %} {{ category.nombre }} {% else %} Productos {% endif %} </h1>
    {% for product in products %}
      <div class="item">
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.imagen %} {{ product.imagen.url }} {% else %} {% static "img/no_image.png" %} {% endif %}">
        </a>
        <a href="{{ product.get_absolute_url }}">{{ product.nombre }}</a>
        <br>
        {% if not product.disponible %}
          <span style="text-decoration: line-through; color: gray;">${{ product.precio }}</span>
          <span style="color: red; font-weight: bold;">Agotado</span>
        {% else %}
          ${{ product.precio }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}