{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}
    {{ category.nombre }}  <!-- Mostrar el nombre de la categoría -->
  {% else %}
    Resultados de búsqueda
  {% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <!-- Formulario de búsqueda -->
    <h3>Buscar productos</h3>
    <div class="search-container">
      <form method="get" action="{% url 'shop:search' %}">
        <input type="text" name="query" placeholder="Buscar productos..." value="{{ request.GET.query }}">
        <button type="submit" class="submit-button">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <h3>Categorías</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'shop:product_list' %}">Todo</a>
      </li>
      {% for c in categories %}
        <li {% if category and category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.nombre }}</a>
        </li>
      {% endfor %}
    </ul>
    
  </div>

  <div id="search" class="products-list">
    {% if category %}
      <h1>{{ category.nombre }}</h1>  <!-- Mostrar el nombre de la categoría -->
    {% else %}
      <h1>Resultados de búsqueda para: "{{ query }}"</h1>
    {% endif %}

    {% if results %}
      {% for product in results %}
        <div class="item">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.imagen %}{{ product.imagen.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
          </a>
          <a href="{{ product.get_absolute_url }}">{{ product.nombre }}</a>
          <br>
          {% if not product.disponible %}
            <span style="text-decoration: line-through; color: gray;">${{ product.precio }}</span>
            <span style="color: grey; font-weight: bold;">Agotado</span>
          {% else %}
            ${{ product.precio }}
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      {% if category %}
        <p></p>
      {% else %}
        <p>No se encontraron productos para "{{ query }}".</p>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
